.noPaymentDue {
  background: #fafafd;
  border-radius: 15px;
  padding: 10px 10px;
  min-height: 0;
  height: 100%;
  align-self: stretch;
  flex: 1 1 0;
  display: flex;
  align-items: top;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  width: 100%;
}
.colLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.head {
  font-size: 14px;
  font-weight: 600;
}
.desc {
  font-size: 14px;
  color: #8c8c9e;
  margin-top: 2px;
}
.colRight {
  flex: 0 0 28px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.okCircle {
  background: #e6e6e6;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.okCircle span {
  font-size: 18px;
}
