.card {
  display: flex;
  align-items: flex-start;
  padding: 14px 7px 14px 11px;
  border-bottom: 1px solid #efefef;
  background: none;
  transition: background 0.18s;
  max-width: 100%;
}
.card:active,
.card:focus {
  background: #f1f2f3;
}
.iconWrap {
  min-width: 40px;
  min-height: 40px;
  border-radius: 12px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.iconPayment {
  background: linear-gradient(135deg, #fde9b2, #fbd96e);
}
.iconCredit {
  background: linear-gradient(135deg, #cdf0fd 90%, #7596f9);
}
.iconApple {
  background: linear-gradient(135deg, #e3e3e3, #dadada);
}
.iconIkea {
  background: #ffd600;
}
.iconTarget {
  background: #fff5f5;
}
.iconUber {
  background: #222;
}
.iconWalmart {
  background: #f4eec7;
}
.iconBestBuy {
  background: #e6f3fa;
}
.iconStarbucks {
  background: #c3e3b5;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  max-width: 100%;
}
.rowFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  gap: 5px;
}
.name {
  font-weight: 700;
  font-size: 15px;
  color: #222;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}
.amountRow {
  display: flex;
  align-items: center;
  min-width: 72px;
}
.amount {
  font-weight: 900;
  font-size: 15px;
  color: #222;
  text-align: right;
  margin-left: 7px;
}
.percentBadge {
  font-size: 11px;
  background: #f3f2f5;
  color: #8c8c9e;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  margin-left: 7px;
  align-self: flex-end;
  display: inline-block;
  line-height: 1.2;
}
.arrow {
  color: #b5b5b5;
  font-size: 22px;
  font-weight: 700;
  margin-left: 7px;
  align-self: flex-end;
  margin-top: 1px;
}
.subtitle {
  color: #9b9b9b;
  font-size: 13px;
  margin-top: 2px;
  max-width: 100%;
}
.last {
  border-bottom: none;
}
